{% extends "::base.html.twig" %}

{% block title %}USBundle:Person:delete{% endblock %}

{% block body %}
<h1>{{tekst}}</h1>

<a href="{{path('main_page')}}">Powrót do strony głównej</a>
{% endblock %}
