{% extends "::base.html.twig" %}

{% block title %}USBundle:Address:addAddress{% endblock %}

{% block body %}
<h1>Welcome to the Address:addAddress page</h1>



{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
{% endblock %}
